
<div class="wrapper">
    <div>
        Lorem ipsum dolor sit.
    </div>
    <div>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum quam et maxime labore consequatur rerum illo porro repellendus dicta doloribus tempora hic molestiae quas maiores corrupti possimus quia, adipisci beatae nam delectus esse. Commodi aut, odio repellat veniam possimus ut.
        
    </div>
    <div class="nested">
        <div>
            Lorem
        </div>
        <div>
            Lorem
        </div>
         <div>
            Lorem
        </div>
        
        
    </div>
    <div>
        Lorem ipsum dolor sit.
    </div>
    <div>
        Lorem ipsum dolor sit.
    </div>
    <div>
        Lorem ipsum dolor sit.
    </div>



</div>