<div class="catwrapper">
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, expedita. Dicta voluptate exercitationem quo modi dolorum similique dignissimos sint, labore culpa unde et, obcaecati voluptates atque assumenda a cupiditate? Eius, nihil aliquam vero cumque ab blanditiis quisquam sapiente aspernatur perspiciatis maxime, aliquid dignissimos minima suscipit dolorum optio iure nobis reprehenderit doloribus aut, deserunt sed amet cupiditate voluptas debitis. Inventore iste id eaque nam illum obcaecati laborum? Deleniti, hic corporis? Fugiat adipisci architecto obcaecati esse, voluptate pariatur excepturi tempore atque sint?
    </div>
    <div>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum quis reprehenderit asperiores possimus natus ipsam sint? Sunt at voluptate, harum, culpa quo minima et fugiat itaque similique, reprehenderit reiciendis eum.
    </div>

</div>